[user]
	name = tmnestor
	email = 101078845+tmnestor@users.noreply.github.com
[init]
	defaultBranch = main
[fetch]
	prune = true
[diff]
	colorMoved = zebra
[pull]
	rebase = true
[core]
	excludesfile = /Users/tod/.gitignore_global
	editor = code --wait
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd = code --wait --diff $LOCAL $REMOTE
[web]
	browser = google-chrome
